/*any code we do in this file will style all of our pages
anything coded here will be applied to all pages
anything specific to a page should be in that page's component file
*/

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  @apply bg-base-300;
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

